@import '../layouts/variables';

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 320px;
    background-color: rgba(210,215,211,0.6);
  }

.aboutText {
    font-family: $charFont;
    font-size: 24px;
}

.aboutContainer {
    width: 60%;
    height: 50%;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: $charTileColor;
    margin: auto;
    backdrop-filter: blur(8px);
}