@import '../layouts/variables';

.searchBox {
    display: inline-flex;
    flex-direction: column;
    float: left;
    margin: 4px;
    font-size: 30px;
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    height: 42px;
    width: 340px;
}

.resetButton {
    align-items: center;
    display: inline-flex;
    float: left;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-size: 20px;
    margin: 4px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    width: 68px;
    height: 46px;
    text-align: center;
    color: rgb(118, 118, 118),
}

.formStyle {
    margin: auto;
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    padding-top: 5px;
    min-width: 120px;
    display: block;
    width: fit-content
}

.input {
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    height: 58px;
}

.elementDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 124px;
}

.elementDropdownOptions {
    display: table;
    width: 100px;
}

.dropdownElementIcon {
    height: 20px;
    float: left;
}

.dropdownElementLabel {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    padding-left: 12px;
    float: left;
}

.weaponDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 180px;
}

.weaponDropdownOptions {
    display: table;
    width: 140px;
}

.ultDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 200px;
}

.ultDropdownOptions {
    display: table;
    width: 150px;
}

.skillDropdownOptions {
    display: table;
    width: 180px;
}

.filterBar {
    margin: auto;
    display: block;
    align-items: center;
    height: auto;
}