@import '../layouts/variables';

$charTileImageSize: 64px;
$charTypeImageSize: 48px;
$secondCharTypeImageSize: 34px;

.tileContainer {
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
    background-color: $charTileColor;
    display: table;
    width: calc(100% - 18px);
    text-decoration: none;
    height: 56px;

    &:hover {
        background-color: rgba(165, 165, 165, 0.7);
    }
    &:hover .charText {
        color: black;
    }
}

.charImage {
    height: $charTileImageSize;
    width: $charTileImageSize;
    float: left;
}

.charText {
    padding: 4px;
    display: table-cell;
    vertical-align: middle;
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    font-size: 18px;
    color: $charTileFontColor;
    text-decoration: none;
    min-width: 300px;
    float: left;
    line-height: 60px;
}

.typeImage {
    display: table-cell;
    float: left;
    height: $charTypeImageSize;
    width: $charTypeImageSize;
    margin-top: calc(($charTileImageSize - 48px )/ 2);
    padding-left: 2px;
    padding-right: 2px;
}

.secondTypeImage {
    display: table-cell;
    float: left;
    height: $secondCharTypeImageSize;
    width: $secondCharTypeImageSize;
    margin-top: calc(($charTileImageSize - $secondCharTypeImageSize )/ 2);
    padding-left: 2px;
    padding-right: 2px;
}