@import '../layouts/variables';

.detailsContainer {
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: $charTileColor;
    margin: auto;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
    margin-bottom: 10vh;
}

.scrollbar {
    width: 85%;
    margin: auto;
}

.detailsName {
    font-family: $charFont;
    text-align: center;
    width: '100%';
    font-size: 3vw;
    margin: auto;
    color: $charTileFontColor;
}

.detailsIcon {
    height: 256px;
    width: 256px;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    overflow: hidden;
    position: relative;
}

.charImageResized {
    width: 540px;
    height: auto;
    top: -110px;
    left: -140px;
    position: absolute;
}

.detailsIconContainer {
    height: auto;
    flex: 1;
}

.headerIcon {
    vertical-align: middle;
    height: 88px;
    width: 88px;
}

.typeIcon {
    vertical-align: middle;
    height: 44px;
    width: 44px;
}

.charNameText {
    vertical-align: middle;
    color: $charTileFontColor;
}

.skillHeader {
    font-family: $charFont;
    font-size: 28px;
    text-align: center;
    color: $charTileFontColor;
}

.skillText {
    font-family: $detailsFont;
    font-size: 24px;
    margin: 2px;
    color: $charTileFontColor;
}

.skillTextName {
    font-family: $charFont;
    font-size: 24px;
    font-weight: 700;
    margin: 2px;
    color: $charTileFontColor;
}

.skillsContainer {
    height: auto;
    width: 800px;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
    flex: 3;
}

.detailsInnerContainer {
    width: 90%;
    margin: auto;
    height: 90%;
    display: flex;
}

.statsText {
    font-family: $charFont;
    font-size: 26px;
    vertical-align: middle;
    padding-right: 30px;
    color: $charTileFontColor;
}

.growthTypeText {
    font-family: $charFont;
    font-size: 18px;
    vertical-align: middle;
    padding-right: 30px;
    color: $charTileFontColor;
}

.statsContainer {
    padding: 4px;
    width: 260px;
}

.statsBoxes {
    border: 2px black solid;
    border-radius: 10px;
    margin-top: 4px;
}

.townTraitContainer {
    height: auto;
    width: 500px;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
}

.townTraitText {
    font-family: $detailsFont;
    font-size: 24px;
    margin: 2px;
    color: $charTileFontColor;
}

.awakenedTraitContainer {
    height: auto;
    width: 800px;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
    flex: 3;
}

.expertiseContainer {
    height: auto;
    display: table;
    width: 200px;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
}

.expertiseIcon {
    margin: auto;
    display: table-cell;
}