@import '../layouts/variables';

.detailsContainer {
    width: 85%;
    height: 85%;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: $charTileColor;
    margin: auto;
    backdrop-filter: blur(8px);
    min-height: 800px;
}

.detailsName {
    font-family: $charFont;
    text-align: center;
    width: '100%';
    font-size: 3vw;
    display: table;
    margin: auto;
}

.detailsIcon {
    height: 256px;
    width: 256px;
    border-radius: 5px;
    border: 2px black solid;
}

.detailsIconContainer {
    display: inline;
    height: 256px;
    width: 256px;
}

.typeIcon {
    display: table-cell;
    vertical-align: middle;
    height: 88px;
    width: 88px;
}

.charNameText {
    display: table-cell;
    vertical-align: middle;
}

.skillText {
    float: right;
    font-family: $charFont;
    font-size: 18px;
    display: table-cell;
    max-width: 382px;
    margin: 2px;
}

.skillTextName {
    font-family: $charFont;
    font-size: 24px;
    display: table-cell;
    font-weight: 700;
    margin: 2px;
}

.skillsContainer {
    display: table-cell;
    height: auto;
    width: 400px;
    float: right;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
}

.detailsInnerContainer {
    width: 90%;
    margin: auto;
    overflow-y: auto;
}

.statsText {
    font-family: $charFont;
    font-size: 32px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 30px;
}

.statsContainer {
    border: 2px black solid;
    border-radius: 10px;
    display: table;
    margin-top: 4px;
}

.townTraitContainer {
    display: table-cell;
    height: auto;
    width: 200px;
    float: right;
    border-radius: 5px;
    border: 2px black solid;
    margin: 2px;
}

.townTraitText {
    float: left;
    font-family: $charFont;
    font-size: 18px;
    display: table-cell;
    max-width: 382px;
    margin: 2px;
}