@import '../layouts/variables';

.searchBox {
    display: inline-flex;
    flex-direction: column;
    float: left;
    margin: 4px;
    font-size: 30px;
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    height: 42px;
    width: 340px;
}

.formStyle {
    margin: auto;
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    float: left;
    min-height: 58px;
    padding-top: 5px;
    min-width: 120px;
}

.input {
    font-family: $charFont;
    letter-spacing: $charSpacing;
    font-weight: 700;
    height: 58px;
}

.elementDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 124px;
}

.elementDropdownOptions {
    display: table;
    width: 100px;
}

.dropdownElementIcon {
    height: 20px;
    float: left;
}

.dropdownElementLabel {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    padding-left: 12px;
    float: left;
}

.weaponDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 180px;
}

.weaponDropdownOptions {
    display: table;
    width: 140px;
}

.ultDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 46px;
    min-width: 200px;
}

.ultDropdownOptions {
    display: table;
    width: 150px;
}

.skillDropdownOptions {
    display: table;
    width: 180px;
}

.filterBar {
    margin: auto;
    max-width: 50%;
    min-height: 68px;
    align-items: center;
}