@import '../layouts/variables';

.detailsContainer {
    width: 100%;
    min-height: 70%;
    border: black 1px solid;
    border-radius: 5px;
    padding: 5px;
    background-color: $charTileColor;
    margin: auto;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
    margin-bottom: 10vh;
}
.scrollbar{
    width: 85%;
    margin: auto;
}

.detailsName {
    font-family: $charFont;
    text-align: center;
    width: '100%';
    font-size: 3vw;
    display: table;
    margin: auto;
    color: $charTileFontColor;
}

.detailsIcon {
    height: 256px;
    width: 256px;
    border-radius: 5px;
    float: left;
    border: 2px black solid;
    margin: 4px;
}

.detailsIconContainer {
    display: inline;
    height: 256px;
    width: 256px;
}

.typeIcon {
    display: table-cell;
    vertical-align: middle;
    height: 88px;
    width: 88px;
}

.charNameText {
    display: table-cell;
    vertical-align: middle;
    color: $charTileFontColor;
}

.skillHeader {
    font-family: $charFont;
    font-size: 28px;
    text-align: center;
    color: $charTileFontColor;
}

.skillText {
    float: right;
    font-family: $detailsFont;
    font-size: 24px;
    display: table-cell;
    max-width: 382px;
    margin: 2px;
    color: $charTileFontColor;
}

.skillTextName {
    font-family: $charFont;
    font-size: 24px;
    display: table-cell;
    font-weight: 700;
    margin: 2px;
    color: $charTileFontColor;
}

.skillsContainer {
    display: table-cell;
    height: auto;
    width: 400px;
    float: left;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
}

.detailsInnerContainer {
    width: 90%;
    margin: auto;
    display: table;
    height: 90%;
}

.statsText {
    font-family: $charFont;
    font-size: 32px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 30px;
    color: $charTileFontColor;
}

.statsContainer {
    max-width: 40%;
    float: left;
}

.statsBoxes {
    border: 2px black solid;
    border-radius: 10px;
    display: table;
    margin-top: 4px;
}

.townTraitContainer {
    display: table-cell;
    height: auto;
    width: 350px;
    float: left;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
}

.townTraitText {
    float: left;
    font-family: $detailsFont;
    font-size: 24px;
    display: table-cell;
    max-width: 382px;
    margin: 2px;
    color: $charTileFontColor;
}

.awakenedTraitContainer {
    display: table-cell;
    height: auto;
    width: 500px;
    float: left;
    border-radius: 5px;
    border: 2px black solid;
    margin: 4px;
    padding: 4px;
}

.expertiseIcon {
    margin: auto;
    display: table-cell;
}