@import '../layouts/variables';

.towerViewHeader {
    font-family: $charFont;
    font-size: 44px;
    font-weight: 600;
}

.changeFloorArrow {
    background-color: transparent;
    border: none;
    height: 85px;

    &:hover {
        background-color: rgba(247, 241, 233, 0.459);
    }
}

.elementDropdown {
    display: inline-flex;
    margin: 4px;
    padding: 5px;
    height: 80px;
    min-width: 240px;
}

.elementDropdownOptions {
    display: table;
    width: 200px;
    background-color: transparent;
}

.dropdownElementIcon {
    height: 20px;
    float: left;
}

.dropdownElementLabel {
    display: table-cell;
    margin: auto;
    vertical-align: middle;
    padding-left: 12px;
    float: left;
}