$color100: #E0F7FA;
$color200:#B2EBF2;
$color300: #80DEEA;
$color400: #4DD0E1;
$color500: #26C6DA;
$color600: #00BCD4;
$color700: #00ACC1;
$color800: #0097A7;
$color900: #00838F;
$color1000: #006064;
$color1100: #84FFFF;
$color1200: #18FFFF;
$color1300: #00E5FF;
$color1400: #00B8D4;
$charTileColor: rgba(0, 96, 100, 0.6);

$charFont: "Gugi",cursive;
$charSpacing: .05em;